<div class="search">
    <mat-form-field class="full-width">
        <mat-label>Search:</mat-label>
        <input matInput [(ngModel)]="search" (keyup)="applyFilter()">
    </mat-form-field>
</div>

<app-table *ngIf="loaded;else spinner" [entityName]="'game'" [dataSource]="dataSource" [displayedColumns]="displayedColumns" (deleteRow)="deleteGame($event)"></app-table>

<ng-template #spinner>
    <mat-spinner class="spinner"></mat-spinner>
</ng-template>

<app-game-form [submitText]="'Add Game'" (onSubmit)="addGame($event)"></app-game-form>