table {
    margin-bottom: 15px;
}

.spinner {
    margin: 0 auto;
}

.pointer {
    cursor: pointer;
}

.mousePointer {
    cursor: pointer;
}

.mr-10 {
    margin-right: 10px;
}

.gray {
    background-color: #eee;
}

.orange {
    color: #fa0;
}

.red {
    color: #e00;
}