<mat-toolbar>
    <a class="logo" routerLink="">
        <ng-content></ng-content>
    </a>

    <button *ngIf="isRoute('person')" mat-stroked-button routerLink="/person" class="nav-button">Person</button>
    <button *ngIf="!isRoute('person')" mat-button routerLink="/person" class="nav-button">Person</button>

    <button *ngIf="isRoute('game')" mat-stroked-button routerLink="/game" class="nav-button">Game</button>
    <button *ngIf="!isRoute('game')" mat-button routerLink="/game" class="nav-button">Game</button>

    <span class="spacer"></span>
    <button mat-icon-button aria-label="Change theme" (click)="changeTheme()">
        <mat-icon>format_color_fill</mat-icon>
    </button>
</mat-toolbar>