.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

table {
    margin-bottom: 15px;
}

.flex-botoes {
    display: flex;
    justify-content: space-around;
}

.spinner {
    margin: 0 auto;
    width: 70%;
    color: #000;
}

.green {
    background-color: #0F3;
}

.pointer {
    cursor: pointer;
}

.gray {
    background-color: #eee;
}

.orange {
    color: #fa0;
}

.mr-10 {
    margin-right: 10px;
}

.red {
    color: #e00;
}