<div class="search">
    <mat-form-field class="full-width">
        <mat-label>Search:</mat-label>
        <input matInput [(ngModel)]="search" (keyup)="applyFilter()">
    </mat-form-field>
</div>

<app-table *ngIf="loaded;else spinner" [dataSource]="dataSource" [displayedColumns]="displayedColumns" (deleteRow)="deletePerson($event)"></app-table>

<ng-template #spinner>
    <mat-spinner class="spinner"></mat-spinner>
</ng-template>

<app-person-form [submitText]="'Add Person'" (onSubmit)="addPerson($event)"></app-person-form>